/* Global variables */
@import '@fontsource-variable/onest';

@tailwind base;

@layer base {
  :root {
    --background: #ffffff;
    --primary: #273449;
    --primary-green: #45d9bf;
    --flexible-green: #22A58D;
    --accent: #f4f4f5;
    --link: #2f57ef;
    --link-hover: #001e8f;
    --muted: #f4f4f5;
    --muted-foreground: #66676e;
    --border: #e4e4e7;
    --scrollbar: rgba(0, 0, 0, 0.5);
    --scrollbar-hover: rgba(0, 0, 0, 0.6);
    --swiper-pagination-color: linear-gradient(90deg, rgb(56, 189, 248) 0%, rgb(69, 217, 191) 100%);
  }

  :root.dark {
    --background: #17171b;
    --primary: #ffffff;
    --flexible-green: #45d9bf;
    --accent: #3a3a40;
    --link: #6fd3ff;
    --link-hover: #1f98ff;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --border: #27272a;
    --scrollbar: rgba(255, 255, 255, 0.2);
    --scrollbar-hover: rgba(255, 255, 255, 0.3);
  }

}


html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}


html::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

body::before {
  background: rgba(69, 217, 191, 0.15);
}

.btn-primary {
  position: relative;
  background: transparent;
  color: #000000;
  font-weight: 500;
  transition: all 150ms cubic-bezier(.4, 0, .2, 1);
}

.btn-primary:hover {
  color: var(--primary);
}

.btn-primary:before {
  content: '';
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: transparent;
  background-origin: border-box;
  background-image: linear-gradient(90deg, #38bdf8 0%, #45d9bf 100%);
  transition: opacity 150ms cubic-bezier(.4, 0, .2, 1);
}

.btn-primary:hover:before {
  opacity: 0;
}

.btn-primary:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--background);
  border: 2px solid #45d9bf;
  transition: opacity 150ms cubic-bezier(.4, 0, .2, 1);
  border-radius: 0.5rem;
}

.btn-primary:hover:after {
  opacity: 1;
}

.nav-link::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #38bdf8 0%, #45d9bf 100%);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.typing-animation::before {
  content: 'Full Stack';
  animation: typing 3s;
}

@keyframes typing {
  0% {
    content: ""
  }

  10% {
    content: "F"
  }

  20% {
    content: "Fu"
  }

  30% {
    content: "Ful"
  }

  40% {
    content: "Full"
  }

  50% {
    content: "Full S"
  }

  60% {
    content: "Full St"
  }

  70% {
    content: "Full Sta"
  }

  80% {
    content: "Full Stac"
  }

  90% {
    content: "Full Stack"
  }
}