---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Jordi Gómez Devesa | Portfolio"
  description="Portfolio personal de Jordi Gómez Devesa"
>
  <main>
    <div class="max-w-5xl m-auto">
      <HeroSection />
      <ExperienceSection />
      <ProjectsSection />
      <ContactForm />
    </div>
    <Footer />
  </main>
</Layout>

<script>
  const sections = document.querySelectorAll('section');
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle('animate-fade-in-up', entry.isIntersecting);

        if (entry.isIntersecting) {
          entry.target.classList.remove('opacity-0');
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 0.1
    }
  );

  sections.forEach((section) => observer.observe(section));
</script>
