---
import { Image } from 'astro:assets';
import MyPhoto from '../assets/jordi-gomez-devesa-2.webp';
---

<section id="about-me" class="text-textColor mb-28 px-2 sm:px-5 opacity-0 animate-section">
  <h2
    class="text-2xl mb-10 font-bold relative flex items-center gap-2 before:absolute before:block before:w-24 before:h-1 before:-bottom-3 before:left-0 before:bg-gradient-to-r before:from-[#38bdf8] before:to-[#45d9bf] before:rounded-full"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <g
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path d="M2 21a8 8 0 0 1 13.292-6"></path>
        <circle cx="10" cy="8" r="5"></circle>
        <path d="m16 19l2 2l4-4"></path>
      </g>
    </svg>
    Sobre mí
  </h2>

  <div class="flex items-center justify-center flex-col md:flex-row gap-8 xl:gap-24">
    <div class="max-w-[80ch] space-y-4">
      <p>
        Mi nombre es Jordi Gómez Devesa y desarrollé mi primera página web a los 16 años en el
        instituto. Desde entonces, quedé encantado con el mundo de la programación, y gracias a
        ello, me decidí por estudiar <strong
          class="bg-clip-text bg-gradient-to-r from-[#089DDD] dark:from-[#38bdf8] to-[#22A58D] dark:to-[#45d9bf] text-transparent font-bold"
        >
          Ingeniería Multimedia en la Universidad de Alicante.
        </strong>
      </p>

      <p>
        Actualmente he terminado los estudios, y entre mis hitos durante mi paso por la Universidad
        destaco la oportunidad de haber
        <strong
          class="bg-clip-text bg-gradient-to-r from-[#089DDD] dark:from-[#38bdf8] to-[#22A58D] dark:to-[#45d9bf] text-transparent font-bold"
        >
          aprendido trabajando en proyectos cercanos al mundo laboral.
        </strong>
        Un ejemplo es <a
          href="/projects/nutrius"
          class="text-link hover:text-link-hover transition-colors font-bold">NutriUs</a
        >, en el cuál trabajamos un equipo de 5 personas durante 8 meses, obteniendo una <strong
          class="bg-clip-text bg-gradient-to-r from-[#089DDD] dark:from-[#38bdf8] to-[#22A58D] dark:to-[#45d9bf] text-transparent font-bold"
          >muy buena evaluación, tanto por los profesores como por empresas del sector.</strong
        >
      </p>

      <p>
        Como desarrollador web, sigo en un <strong
          class="bg-clip-text bg-gradient-to-r from-[#089DDD] dark:from-[#38bdf8] to-[#22A58D] dark:to-[#45d9bf] text-transparent font-bold"
          >constante aprendizaje</strong
        > que me permita mejorar mis habilidades y conocimientos, ya que mi objetivo es <strong
          class="bg-clip-text bg-gradient-to-r from-[#089DDD] dark:from-[#38bdf8] to-[#22A58D] dark:to-[#45d9bf] text-transparent font-bold"
          >aportar valor y dejar huella en cada empresa, equipo o proyecto del que forme parte.</strong
        >
      </p>
    </div>

    <Image
      class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-80 aspect-square rounded-2xl"
      src={MyPhoto}
      alt="Una foto de Jordi Gómez Devesa con el mar de fondo"
    />
  </div>
</section>
