---
import { Image } from 'astro:assets';
import MyPhoto from '../assets/jordi-gomez-devesa-2.webp';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="about-me" class="text-textColor mb-28 px-2 sm:px-5 opacity-0 animate-section">
  <h2
    class="text-2xl mb-10 font-bold relative flex items-center gap-2 before:absolute before:block before:w-24 before:h-1 before:-bottom-3 before:left-0 before:bg-gradient-to-r before:from-[#38bdf8] before:to-[#45d9bf] before:rounded-full"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <g
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path d="M2 21a8 8 0 0 1 13.292-6"></path>
        <circle cx="10" cy="8" r="5"></circle>
        <path d="m16 19l2 2l4-4"></path>
      </g>
    </svg>
    {t('about-me.title')}
  </h2>

  <div class="flex items-center justify-center flex-col md:flex-row gap-8 xl:gap-24">
    <div class="max-w-[80ch] space-y-4">
      <p>
        <Fragment set:html={t('about-me.description.1')} />
      </p>

      <p>
        <Fragment set:html={t('about-me.description.2')} />
      </p>

      <p>
        <Fragment set:html={t('about-me.description.3')} />
      </p>
    </div>

    <Image
      class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-80 aspect-square rounded-2xl"
      src={MyPhoto}
      alt={t('alt.about-me.image')}
    />
  </div>
</section>
