---
import ContactIllustration from '../icons/ContactIllustration.astro';
---

<section class="text-textColor px-5 pb-20 opacity-0">
  <h2 class="text-2xl mb-5 font-bold">Contacto</h2>

  <div class="grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-5">
    <div>
      <p class="mb-3">
        No dudes en ponerte en contacto conmigo a través de este formulario o directamente a mi
        correo electrónico.
      </p>
      <ContactIllustration />
    </div>
    <form
      id="contactForm"
      class="p-5 bg-[#ecf1f4] dark:bg-gradient-to-r dark:from-[#273449] dark:to-[#2A4A4B] rounded-lg"
    >
      <div class="pb-5">
        <label for="from_name">Nombre</label>
        <input
          class="text-black w-full p-3 rounded-lg outline-none border-[3px] border-white focus:border-[#45d9bf]"
          type="text"
          id="from_name"
          name="from_name"
          placeholder="Nombre"
          required
        />
      </div>
      <div class="pb-5">
        <label for="from_email">Email</label>
        <input
          class="text-black w-full p-3 rounded-lg outline-none border-[3px] border-white focus:border-[#45d9bf]"
          type="email"
          id="from_email"
          name="from_email"
          placeholder="Correo electrónico"
          required
        />
      </div>
      <div class="pb-5">
        <label for="message">Mensaje</label>
        <textarea
          class="p-3 text-black w-full rounded-lg resize-none h-44 outline-none border-[3px] border-white focus:border-[#45d9bf] overflow-y-auto"
          name="message"
          id="message"
          placeholder="Escribe aquí tu mensaje..."
          required></textarea>
      </div>

      <button
        id="submitBtn"
        class="text-[#273449] font-bold p-3 w-full bg-gradient-to-r from-[#38BDF8] to-[#45D9BF] rounded-lg hover:opacity-70"
        type="submit"
      >
        Enviar
      </button>
    </form>
  </div>
</section>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>

<script type="module">
  emailjs.init('-7oN40-PprdhoEmgw');
  const form = document.getElementById('contactForm');
  const submitBtn = document.getElementById('submitBtn');

  form.addEventListener('submit', (e) => {
    e.preventDefault();

    submitBtn.disabled = true;
    submitBtn.innerHTML = 'Enviando...';
    emailjs
      .sendForm('service_j016olb', 'template_fm1ll9h', form)
      .then(() => {
        alert('Mensaje enviado correctamente. Pronto me pondre en contacto.');
      })
      .catch(() => {
        alert(`Ha ocurrido un error. Por favor, intenta contacter desde otro medio.`);
      })
      .finally(() => {
        form.reset();
        submitBtn.disabled = false;
        submitBtn.innerHTML = 'Enviar';
      });
  });
</script>
