---
import EmailIcon from '../icons/Email.astro';
import GithubIcon from '../icons/Github.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';

const socialLinks = [
  { label: 'Email', href: 'mailto:jordigd8@gmail.com', Icon: EmailIcon },
  { label: 'GitHub', href: 'https://github.com/jordigd20', Icon: GithubIcon },
  {
    label: 'LinkedIn',
    href: 'https://www.linkedin.com/in/jordi-gomez-devesa/',
    Icon: LinkedInIcon
  }
];

const { notFoundError = false } = Astro.props;
---

<footer
  class="bg-[#aee9e3] dark:bg-[#2a4a4b] flex flex-col sm:flex-row items-center justify-center sm:justify-between py-8 px-10"
>
  <div class="flex flex-col sm:flex-row sm:gap-3 text-center">
    <p class="text-textColor sm:mb-0">Portfolio de Jordi Gómez Devesa</p>
    {notFoundError && <a class="text-[#00C2FF] hover:opacity-50" href="https://storyset.com/web">Web illustrations by Storyset</a>}
  </div>
  <div class="px-4 flex items-center justify-center gap-2">
    {
      socialLinks.map(({ label, href, Icon }) => (
        <a
          class="transition-transform hover:scale-110 [&>svg]:fill-textColor text-textColor"
          href={href}
          aria-label={label}
        >
          <Icon />
        </a>
      ))
    }
  </div>
</footer>
