---
import EmailIcon from '../icons/Email.astro';
import GithubIcon from '../icons/Github.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';

const socialLinks = [
  { label: 'Email', href: 'mailto:jordigd8@gmail.com', Icon: EmailIcon },
  { label: 'GitHub', href: 'https://github.com/jordigd20', Icon: GithubIcon },
  {
    label: 'LinkedIn',
    href: 'https://www.linkedin.com/in/jordi-gomez-devesa/',
    Icon: LinkedInIcon
  }
];

const { notFoundError = false } = Astro.props;
---

<footer class="border-t border-border py-8 px-10">
  <div class="container flex flex-col sm:flex-row items-center justify-center sm:justify-between">
    <div class="flex flex-col sm:flex-row sm:gap-3 text-center">
      <p class="text-muted-foreground sm:mb-0">
        Portfolio de <span class="text-primary font-semibold">Jordi Gómez Devesa</span>
      </p>
      {
        notFoundError && (
          <a class="text-[#00C2FF] hover:underline" href="https://storyset.com/web">
            Web illustrations by Storyset
          </a>
        )
      }
    </div>
    <div class="px-4 flex items-center justify-center gap-2">
      {
        socialLinks.map(({ label, href, Icon }) => (
          <a
            class="transition-transform hover:scale-110 [&>svg]:fill-primary text-primary"
            href={href}
            aria-label={label}
          >
            <Icon />
          </a>
        ))
      }
    </div>
  </div>
</footer>
