---
import EmailLink from '../icons/EmailLink.astro';
import DownloadFile from '../icons/DownloadFile.astro';
---

<section
  class="text-textColor mt-28 mb-28 px-2 sm:px-5 flex flex-col md:flex-row justify-center items-center opacity-0 transition-all md:gap-4 lg:gap-24 xl:gap-40 animate-section"
>
  <div>
    <header>
      <div class="mb-5 flex items-start">
        <span
          class="relative py-[10px] px-[3px] overflow-hidden rounded-ss-full rounded-se-full rounded-ee-full"
        >
          <span
            class="absolute inset-[-250%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,_#1C95FC_0%,_#00FFD4_100%)] z-[-1]"
          ></span>
          <span
            class="py-2 px-5 text-2xl font-bold text-white bg-gradient-to-r from-[#273449] to-[#2A4A4B] rounded-ss-full rounded-se-full rounded-ee-full"
          >
            Hola, soy
          </span>
        </span>
      </div>

      <div class="flex flex-col">
        <h1 class="text-5xl font-bold">Jordi Gómez Devesa</h1>
        <h2 class="text-2xl font-medium" aria-label="Desarrollador FullStack">
          Desarrollador
          <span
            class="font-bold bg-clip-text bg-gradient-to-r from-[#089DDD] dark:from-[#38bdf8] to-[#22A58D] dark:to-[#45d9bf] text-transparent relative before:animate-typing before:content-['Full_Stack'] after:border-r-[2px] after:border-r-[#22a58d] dark:after:border-r-[#45d9bf] after:animate-cursor"
          >
          </span>
        </h2>
      </div>
    </header>

    <div class="py-10 max-w-[600px]">
      <p class="text-pretty">
        +2 años de experiencia. <strong
          class="bg-clip-text bg-gradient-to-r from-[#089DDD] dark:from-[#38bdf8] to-[#22A58D] dark:to-[#45d9bf] text-transparent"
        >
          Ingeniero Multimedia</strong
        > y <strong
          class="bg-clip-text bg-gradient-to-r from-[#089DDD] dark:from-[#38bdf8] to-[#22A58D] dark:to-[#45d9bf] text-transparent"
          >Desarrollador Web</strong
        > de Benidorm, España. Especializado en crear aplicaciones web únicas, interactivas y accesibles.
      </p>

      <footer class="flex flex-wrap items-center gap-3 pt-10">
        <a
          href="mailto:jordigd8@gmail.com"
          class="btn-primary p-2 px-4 inline-flex items-center gap-2 hover:scale-105"
          aria-label="Enviar un correo a jordigd8@gmail.com"
        >
          <EmailLink className="size-5" />
          jordigd8@gmail.com
        </a>
        <a
          href="/assets/cv-jordi-gomez-devesa.pdf"
          target="_blank"
          class="btn-primary p-2 px-4 inline-flex items-center gap-2 hover:scale-105"
          data-astro-reload
        >
          <DownloadFile className="size-5" />
          CV
        </a>
      </footer>
    </div>
  </div>
  <img
    class="my-auto rounded-2xl object-cover aspect-square w-[350px] lg:w-[350px]"
    src="/assets/jordi-gomez-devesa.webp"
    alt="Una foto de Jordi Gómez Devesa"
    loading="eager"
    fetchpriority="high"
  />
  <!-- <Image
    fetchpriority="high"
    class="m-auto rounded-3xl object-cover aspect-[0.95] w-[350px] lg:w-[435px]"
    src={photo}
    alt="Una foto de Jordi Gómez Devesa"
  /> -->
</section>
