---
import { Image } from 'astro:assets';
import photo from '../assets/jordi-gomez-devesa.webp';
---

<section class="text-textColor mt-20 px-5 md:flex justify-center opacity-0 transition-all md:gap-4">
  <div>
    <header>
      <span
        class="mb-5 text-3xl font-bold tracking-wider py-2 px-5 rounded-ss-full rounded-se-full rounded-ee-full relative inline-block text-[#1D2735] dark:text-white bg-gradient-to-r from-[#38BDF8] to-[#45D9BF] dark:from-[#273449] dark:to-[#2A4A4B] after:z-[-1] after:absolute after:top-[-2px] after:left-[-2px] after:w-[calc(100%+4px)] after:h-[calc(100%+4px)] after:rounded-ss-full after:rounded-se-full after:rounded-ee-full after:bg-gradient-to-r after:from-[#273449] after:to-[#2A4A4B] dark:after:from-[#38BDF8] dark:after:to-[#45D9BF]"
      >
        Hola, soy
      </span>
      <h1 class="text-6xl font-bold tracking-wide">Jordi G칩mez Devesa</h1>
    </header>

    <footer class="py-10">
      <p class="py-3 px-1">
        Ingeniero Multimedia graduado en la Universidad de Alicante, actualmente enfocado en el
        <strong
          class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#38BDF8] to-[#45D9BF]"
        >
          desarrollo de software
        </strong>
        tanto para el
        <strong
          class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#38BDF8] to-[#45D9BF]"
          >frontend
        </strong>
        como para el
        <strong
          class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#38BDF8] to-[#45D9BF]"
        >
          backend.
        </strong>
      </p>

      <p class="py-3 px-1">
        <strong
          class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#38BDF8] to-[#45D9BF]"
        >
          +1 a침o
        </strong>
        de experiencia trabajando en varios proyectos durante mi etapa de estudiante en la Universidad
        de Alicante.
      </p>

      <div class="flex flex-wrap items-center gap-3 pt-10">
        <a
          href="/assets/cv-jordi-gomez-devesa.pdf"
          target="_blank"
          class="btn-primary p-2 px-5"
          data-astro-reload
        >
          Descargar CV
        </a>
        <a
          href="#contact"
          class="btn-primary p-2 px-5"
        >
          Cont치ctame
        </a>
      </div>
    </footer>
  </div>
  <Image
    fetchpriority="high"
    class="m-auto rounded-3xl object-cover aspect-[0.95] w-[350px] lg:w-[435px]"
    src={photo}
    alt="Una foto de Jordi G칩mez Devesa"
  />
</section>
