---
import photo from '../assets/jordi-gomez-devesa.webp';
---

<section class="text-textColor mt-20 px-5 md:flex justify-center opacity-0 transition-all">
  <div class="">
    <header>
      <span
        class="mb-5 text-3xl font-bold tracking-wider py-2 px-5 rounded-ss-full rounded-se-full rounded-ee-full relative inline-block text-[#1D2735] dark:text-white bg-gradient-to-r from-[#38BDF8] to-[#45D9BF] dark:from-[#273449] dark:to-[#2A4A4B] after:z-[-1] after:absolute after:top-[-2px] after:left-[-2px] after:w-[calc(100%+4px)] after:h-[calc(100%+4px)] after:rounded-ss-full after:rounded-se-full after:rounded-ee-full after:bg-gradient-to-r after:from-[#273449] after:to-[#2A4A4B] dark:after:from-[#38BDF8] dark:after:to-[#45D9BF]"
      >
        Hola, soy
      </span>
      <h1 class="text-6xl font-bold tracking-wide">Jordi Gómez Devesa</h1>
    </header>

    <footer class="py-10">
      <p class="py-3 px-1">
        Ingeniero Multimedia graduado en la Universidad de Alicante, actualmente enfocado en el
        <strong
          class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#38BDF8] to-[#45D9BF]"
        >
          desarrollo frontend.
        </strong>
      </p>

      <p class="py-3 px-1">
        <strong
          class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#38BDF8] to-[#45D9BF]"
        >
          +8 meses
        </strong>
        de experiencia en un equipo de 5 personas desarrollando una
        <strong
          class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#38BDF8] to-[#45D9BF]"
        >
          startup.
        </strong>
      </p>

      <div class="flex flex-wrap items-center gap-3 pt-10">
        <button
          class="text-black p-2 px-5 rounded-lg bg-gradient-to-r from-[#38BDF8] to-[#45D9BF] hover:bg-none hover:bg-background hover:text-textColor  hover:border-[#45D9BF] border-2 border-transparent bg-origin-border"
        >
          Descargar CV
        </button>
        <a
          href="#contact"
          class="text-black p-2 px-5 rounded-lg bg-gradient-to-r from-[#38BDF8] to-[#45D9BF] hover:bg-none hover:bg-background hover:text-textColor hover:border-[#45D9BF] border-2 border-transparent bg-origin-border"
        >
          Contáctame
        </a>
      </div>
    </footer>
  </div>
  <img
    class="m-auto rounded-3xl object-cover aspect-[1/1] sm:w-4/5 md:w-2/4"
    src={photo}
    alt="Una foto de Jordi Gómez Devesa"
  />
</section>
