---
import Nav from '../components/Nav.astro';
import Head from '../components/Head.astro';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="es">
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class="bg-background before:w-[300px] before:h-[300px] before:absolute before:left-[-50px] before:top-[100px] before:z-[-1] before:blur-[100px]"
  >
    <Nav />
    <slot />
  </body>
</html>
