---
import Nav from '../components/Nav.astro';
import Head from '../components/Head.astro';

export interface Props {
  title: string;
  description: string;
  headerClass?: string;
}

const { title, description, headerClass = "" } = Astro.props;
---

<!DOCTYPE html>
<html class="scroll-smooth" lang="es">
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="bg-background">
    <header>
      <Nav className={headerClass} />
    </header>
    <slot />
  </body>
</html>
