---
import Nav from '../components/Nav.astro';
import Head from '../components/Head.astro';

export interface Props {
  title: string;
  description: string;
  language: string;
}

const { title, description, language } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang={language}>
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class="bg-background "
  >
    <div class="fixed inset-0 -z-10 h-full w-full">
      <div
        class="absolute top-0 z-[-2] min-h-full w-full bg-background bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(69,217,191,0.15),rgba(255,255,255,0))]"
      >
      </div>
    </div>
    <Nav />
    <slot />
  </body>
</html>
